.friendsList {
  margin-top: 50px;
  background-color: var(--white);
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
